<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>WebMonster</display-name>
  <listener>
    <listener-class>com.service.MainContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ActionController</servlet-name>
    <servlet-class>com.servlets.ActionController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PostgresServlet</servlet-name>
    <servlet-class>com.servlets.PostgresServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TabletController</servlet-name>
    <servlet-class>com.servlets.TabletController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SmartPhoneController</servlet-name>
    <servlet-class>com.servlets.SmartPhoneController</servlet-class>
  </servlet>
<!--   <servlet>
    <servlet-name>FileUploadController</servlet-name>
    <servlet-class>com.servlets.FileUploadController</servlet-class>
  </servlet> -->
  <servlet-mapping>
    <servlet-name>PostgresServlet</servlet-name>
    <url-pattern>/postgresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionController</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TabletController</servlet-name>
    <url-pattern>/tabletController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SmartPhoneController</servlet-name>
    <url-pattern>/smartphoneController</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
    <servlet-name>FileUploadController</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping> -->
  <welcome-file-list>
    <welcome-file>controller</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>